body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.oldPrice{
  text-decoration: line-through;
  color: rgb(240, 142, 142);
  font-size: small;
}
.newPrice{
  color: green;
  font-size: large;
}
.navend{
  margin-right: 100px;
  margin: auto;
}